:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -ms-overflow-style: none;
  scrollbar-width: none;

  --color-primary: #4caf50;
  --color-primary-dark: #388e3c;
  --color-accent: #00c2a8;
  --color-highlight: #a2ff86;

  --color-bg: #1a1a1a;
  --color-surface: #222b22;

  --text-primary: #e0e0e0;
  --text-secondary: #a0a0a0;

  --color-danger: #ff5f5f;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--text-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

button {
  font: inherit;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
