:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #4CAF50;
  --color-primary-dark: #388E3C;
  --color-accent: #00C2A8;
  --color-highlight: #A2FF86;

  --color-bg: #1A1A1A;
  --color-surface: #222B22;

  --text-primary: #E0E0E0;
  --text-secondary: #A0A0A0;

  --color-danger: #FF5F5F;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--text-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

button {
  font: inherit;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
